.btnPadding{
    padding-bottom: 6rem;
}
.colStyle{
    background-color: #161f3c;
    border-radius: 1rem;
    padding: 1rem;
    
}
@media only screen and (max-width:768px){
    .user-profile .hovercard .user-image{
        height: unset !important;
    }
    .user-profile .hovercard .user-image .avatar {
        margin-top: 0;
        padding-top: 1rem;
    }
}