<app-breadcrumb [title]="'Accounts'" [items]="['Dashboard']" [active_item]="'Accounts'"></app-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 btnPadding">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="col-lg-6"><button class="btn btn-primary">Pay now</button></div>
                    <div class="col-lg-6">
                        <div class="d-flex justify-content-end">
                            <h5 class="text-danger mr-5">Amount Due</h5>
                            <h5 class="text-success">Amount Paid</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 d-flex justify-content-start align-items-center">
                            <div class="searchField mt-1 w-100">
                                <input type="text" [(ngModel)]="searchInput" placeholder="Search" class="w-100 white" />
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="order-history table-responsive wishlist">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Account Title</th>
                                            <th scope="col">Account No</th>
                                            <th scope="col">Account Paid</th>
                                            <th scope="col">Transaction Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="
                      (users | filter : searchInput)?.length;
                      else noData
                    ">
                                            <tr *ngFor="
                        let i = index;
                        let item;
                        of: users
                          | filter : searchInput
                          | paginate
                            : {
                                itemsPerPage: 5,
                                currentPage: duePage,
                                totalItems: total
                              }
                      ">
                                                <th scope="row">{{ item?.id }}</th>
                                                <td>{{ item?.fname}} {{item?.lname}}</td>
                                                <td>{{ item?.email ? item?.email : "N/A" }}</td>
                                                <td>{{ item?.role ? item?.role : "N/A" }}</td>
                                                <td>
                                                    <div
                                                        class="toggle d-flex align-items-center w-100 justify-content-center">
                                                        <input (change)="stateItem(item, $event)" class="checkBox"
                                                            type="checkbox" [checked]="
                              item?.active_status == '1' ? true : false
                            " [id]="'user' + i" /><label [for]="'user' + i"></label>
                                                    </div>
                                                </td>
                                                <td class="d-flex justify-content-center align-items-center">
                                                    <button class="btn btn-primary" (click)="userDetail(item?.id)">
                                                        <i class="fa fa-share mlicon"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <ng-template #noData>
                                            <tr *ngIf="users?.length">
                                                <td colspan="5" class="text-center white">
                                                    No Matching Data Available
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <tr *ngIf="!users?.length">
                                            <td class="text-center white" colspan="5">
                                                No data available
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12 d-flex justify-content-end" *ngIf="users?.length">
                            <pagination-controls (pageChange)="duePage = $event">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->
            </div>
        </div>
    </div>
</div>