<app-breadcrumb
  [title]="'About Us'"
  [items]="['Dashboard']"
  [active_item]="'About Us'"
  icon="alert-circle"
></app-breadcrumb>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="aboutForm" class="form">
          <ckeditor [editor]="Editor" formControlName="description"></ckeditor>
          <div *ngIf="
                  aboutForm.controls.description.invalid &&
                  (aboutForm.controls.description.dirty ||
                    aboutForm.controls.description.touched)
                ">
            <small class="text-danger">Content is required</small>
          </div>
        </form>
      </div>
      <div class="col-sm-12 mt-3">
        <button class="btn btn-primary btn-block" [disabled]="!aboutForm.valid" (click)="save()" type="button">
          <span>Save</span>
        </button>
      </div>
    </div>
  </div>
