<app-breadcrumb
  [title]="'Promo Codes'"
  [items]="['Dashboard']"
  [active_item]="'Promo Codes'"
  icon="coupon"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 btnPadding">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5>All Promo Codes</h5>
          <button class="btn btn-primary" (click)="open(addModal, 'add')">Add Promo Codes</button>
        </div>
        <div class="card-body">
          <div class="row">
            <div
              class="col-sm-6 d-flex justify-content-start align-items-center"
            >
              <div class="searchField mt-1 w-100">
                <input
                  type="text"
                  [(ngModel)]="searchInput"
                  placeholder="Search"
                  class="w-100 white"
                />
                <i class="fa fa-search"></i>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="order-history table-responsive wishlist">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Coupon Number</th>
                      <th scope="col">Discount</th>
                      <th scope="col">Status</th>
                      <th scope="col">Use Status</th>

                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngIf="
                        (codes | filter : searchInput)?.length;
                        else noData
                      "
                    >
                      <tr
                        *ngFor="
                          let i = index;
                          let item;
                          of: codes
                            | filter : searchInput
                            | paginate
                              : {
                                  itemsPerPage: 5,
                                  currentPage: duePage,
                                  totalItems: total
                                }
                        "
                      >
                        <th scope="row">{{ item?.id }}</th>
                        <td>{{ item?.coupon_no}}</td>
                        <td>{{ item?.discount}}</td>

                        <td>
                          <div
                            class="toggle d-flex align-items-center w-100 justify-content-center"
                          >
                            <input
                              (change)="deleteCode(item, $event)"
                              class="checkBox"
                              type="checkbox"
                              [checked]="
                                item?.status == '1' ? true : false
                              "
                              [id]="'user' + i"
                            /><label [for]="'user' + i"></label>
                          </div>
                        </td>
                        <td>{{ item?.use_status}}</td>

                      </tr>
                    </ng-container>
                    <ng-template #noData>
                      <tr *ngIf="codes?.length">
                        <td colspan="5" class="text-center white">
                          No Matching Data Available
                        </td>
                      </tr>
                    </ng-template>
                    <tr *ngIf="!codes?.length">
                      <td class="text-center white" colspan="5">
                        No data available
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div
              class="col-sm-12 d-flex justify-content-end"
              *ngIf="codes?.length"
            >
              <pagination-controls (pageChange)="duePage = $event">
              </pagination-controls>
            </div>
          </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>
    </div>
  </div>
</div>
<!-- Edit User -->
<ng-container>
    <ng-template #addModal let-modal>
      <div class="modal-body checkoutModal completed">
        <button
          class="btn-close"
          id="checkoutClose"
          aria-label="Close"
          (click)="proceed()"
        ></button>
        <h5 style="color: aliceblue;" class="modal-title">{{state ? 'Edit Faq' : 'Add Faq'}}</h5>
        <form [formGroup]="codeForm" class="form">
            <div class="row mt-4">
              <div class="col-lg-12 mt-3">
                <label for="" class="text-light mb-3">Coupon Number</label>
                <textarea
                
                  formControlName="coupon_no"
                  type="text"
                  placeholder="Coupon Number"
                  class="text-dark w-100"
                ></textarea>
                <div
                  *ngIf="
                    codeForm.controls.coupon_no.invalid &&
                    (codeForm.controls.coupon_no.dirty ||
                      codeForm.controls.coupon_no.touched)
                  "
                >
                  <small class="text-danger">Coupon is required</small>
                </div>
              </div>

              <div class="col-lg-12 mt-3">
                <label for="" class="text-light mb-3">Discount</label>
                <textarea
                  formControlName="discount"
                  type="text"
                  placeholder="Discount"
                  class="text-dark w-100"
                ></textarea>
                <div
                  *ngIf="
                    codeForm.controls.discount.invalid &&
                    (codeForm.controls.discount.dirty ||
                      codeForm.controls.discount.touched)
                  "
                >
                  <small class="text-danger">Discount is required</small>
                </div>
              </div>
            </div>
          </form>
      </div>
      <div class="modal-footer d-flex justify-content-start">
        <button
        class="btn add-btn"
        [disabled]="codeForm.invalid"
        (click)="save(true)"
      >
        Save
      </button>
      <button class="btn cancel-btn" aria-label="Close" (click)="proceed()">
        Cancel
      </button>
      </div>
    </ng-template>
  </ng-container>