.form input{
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #000 !important;
}
.modal-body .btn-close{
    border: none !important;
}
.form input::placeholder{
    color: #000 !important;
}
.modal-body .btn-close {
    position: absolute;
    top: 10px;
    left:20px;
    background: transparent;
    color: #fff;
}
