<app-breadcrumb
  [title]="'Home'"
  [items]="['Dashboard']"
  [active_item]="'Home'"
  icon="home"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-xl-3 col-lg-6">
      <div class="card o-hidden">
        <div class="bg-primary b-r-4 card-body">
            <div class="media static-top-widget">
                <div class="align-self-center text-center">
                  <app-feather-icons [icon]="'user-plus'"></app-feather-icons>
                </div>
                <div class="media-body">
                  <span class="m-0">Users</span>
                  <h4
                    class="mb-0 counter"
                    [CountTo]="users"
                    [from]="0"
                    [duration]="1"
                  >
                    {{ users }}
                  </h4>
                  <i class="icon-bg" data-feather="user-plus"></i>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 col-lg-6">
      <div class="card o-hidden">
        <div class="bg-secondary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center">
              <app-feather-icons [icon]="'user-plus'"></app-feather-icons>
            </div>
            <div class="media-body">
              <span class="m-0">Search History</span>
              <h4
                class="mb-0 counter"
                [CountTo]="history"
                [from]="0"
                [duration]="1"
              >
                {{ history }}
              </h4>
              <i class="icon-bg" data-feather="user-plus"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
