<app-breadcrumb
  [title]="'Requests'"
  [items]="['Dashboard']"
  [active_item]="'Requests'"
  icon="users"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 btnPadding">
      <div class="card">
        <div class="card-header">
          <h5>All Requests</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div
              class="col-sm-6 d-flex justify-content-start align-items-center"
            >
              <div class="searchField mt-1 w-100">
                <input
                  type="text"
                  [(ngModel)]="searchInput"
                  placeholder="Search"
                  class="w-100 white"
                />
                <i class="fa fa-search"></i>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="order-history table-responsive wishlist">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngIf="
                        (requestsUsers | filter : searchInput)?.length;
                        else noData
                      "
                    >
                      <tr
                        *ngFor="
                          let i = index;
                          let item;
                          of: requestsUsers
                            | filter : searchInput
                            | paginate
                              : {
                                  itemsPerPage: 5,
                                  currentPage: duePage,
                                  totalItems: total
                                }
                        "
                      >
                        <th scope="row">{{ item?.id }}</th>
                        <td>{{ item?.user?.fname}} {{item?.user?.lname}}</td>
                        <td>{{ item?.user?.email }}</td>
                        <td
                          class="d-flex justify-content-center align-items-center"
                        >
                          <button
                            class="btn btn-secondary mr-3"
                            (click)="id=item?.user_id;open(addModal, 'add')"
                          >
                            <i class="fa fa-check mlicon"></i>
                          </button>
                          <button class="btn btn-danger" (click)="id=item?.user_id;updateUser(0)">
                            <i class="fa fa-times mlicon"></i>
                          </button>
                          
                        </td>
                      </tr>
                    </ng-container>
                    <ng-template #noData>
                      <tr *ngIf="requestsUsers?.length">
                        <td colspan="5" class="text-center white">
                          No Matching Data Available
                        </td>
                      </tr>
                    </ng-template>
                    <tr *ngIf="!requestsUsers?.length">
                      <td class="text-center white" colspan="5">
                        No data available
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div
              class="col-sm-12 d-flex justify-content-end"
              *ngIf="requestsUsers?.length"
            >
              <pagination-controls (pageChange)="duePage = $event">
              </pagination-controls>
            </div>
          </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>
    </div>
  </div>
</div>

<ng-container>
  <ng-template #addModal let-modal>
    <div class="modal-body checkoutModal completed">
      <button
      class="btn-close"
      id="checkoutClose"
      aria-label="Close"
      (click)="proceed()"
    >
      <i class="fa fa-times mlicon"></i>
    </button>
    
      <h5 style="color: aliceblue;" class="modal-title">{{state ? 'Edit Request' : 'Generate Password'}}</h5>
      <form [formGroup]="RequestForm" class="form">
          <div class="row mt-4">
            <div class="col-lg-12 mt-3">
              <label for="" class="text-light mb-3">Password</label>
              <textarea
              
                formControlName="password"
                type="text"
                placeholder="Password"
                class="text-dark w-100"
              ></textarea>
              <div
                *ngIf="
                  RequestForm.controls.password.invalid &&
                  (RequestForm.controls.password.dirty ||
                    RequestForm.controls.password.touched)
                "
              >
                <small class="text-danger">Password is required</small>
              </div>
            </div>
          </div>
        </form>
    </div>
    <div class="modal-footer d-flex justify-content-start">
      <button
      class="btn add-btn"
      [disabled]="RequestForm.invalid"
      (click)="updateUser(1)"
    >
      Save
    </button>
    <button class="btn cancel-btn" aria-label="Close" (click)="proceed()">
      Cancel
    </button>
    </div>
  </ng-template>
</ng-container>
